<%
    let type = "post";
    if (is_home()) type = "index";
    if (is_post() || is_page()) type = "post";
    if (is_category() || page.type === "categories") type = "categories";
    if (is_tag() || page.type === "tags") type = "tags";
    if (is_archive()) type = "archives";
    let title = page.title + " | " + config.title;
    if (is_home()) title = config.title;
    if (is_post() || is_page()) title = page.title + " | " + config.title;
    if (is_category()) title = "Categories: " + page.category + " | " + config.title;
    if (is_tag()) title = "Tags: " + page.tag + " | " + config.title;
    if (is_archive()) title = "Archives | " + config.title;
%>
<!DOCTYPE html>
<html lang="<%- config.language %>">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="author" content="<%- config.author %>" />
    <meta name="description" content="<%- config.description %>" />
    <meta name="keywords" content="<%- config.keywords %>" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="icon" href="<%- url_for(theme.avatar) %>" />

    <script>
        const saveToLocal = {
            set: (key, value, ttl) => {
                if (!ttl) return
                const expiry = Date.now() + ttl * 86400000
                localStorage.setItem(key, JSON.stringify({ value, expiry }))
            },
            get: key => {
                const itemStr = localStorage.getItem(key)
                if (!itemStr) return undefined
                const { value, expiry } = JSON.parse(itemStr)
                if (Date.now() > expiry) {
                    localStorage.removeItem(key)
                    return undefined
                }
                return value
            }
        }
        window.btf = {
            saveToLocal,
            getScript: (url, attr = {}) => new Promise((resolve, reject) => {
                const script = document.createElement('script')
                script.src = url
                script.async = true
                Object.entries(attr).forEach(([key, val]) => script.setAttribute(key, val))
                script.onload = script.onreadystatechange = () => {
                    if (!script.readyState || /loaded|complete/.test(script.readyState)) resolve()
                }
                script.onerror = reject
                document.head.appendChild(script)
            }),
            getCSS: (url, id) => new Promise((resolve, reject) => {
                const link = document.createElement('link')
                link.rel = 'stylesheet'
                link.href = url
                if (id) link.id = id
                link.onload = link.onreadystatechange = () => {
                    if (!link.readyState || /loaded|complete/.test(link.readyState)) resolve()
                }
                link.onerror = reject
                document.head.appendChild(link)
            }),
            addGlobalFn: (key, fn, name = false, parent = window) => {
                if (!<%= theme.pjax.enable %> && key.startsWith('pjax')) return
                const globalFn = parent.globalFn || {}
                globalFn[key] = globalFn[key] || {}
                globalFn[key][name || Object.keys(globalFn[key]).length] = fn
                parent.globalFn = globalFn
            }
        }
    </script>
    <!-- <script src="<%- url_for('/js/utils.js') %>"></script> -->
    <%- partial("import", { type }) %>
</head>
<body>
    <div id="layout">
        <transition name="fade">
            <div id="loading" v-show="loading">
                <div id="loading-circle">
                    <h2>LOADING</h2>
                    <p>読み込みが遅い場合はキャッシュを有効にしてください。ブラウザはデフォルトで有効になっています</p>
                    <img src="<%- url_for(theme.loading) %>" />
                </div>
            </div>
        </transition>
        <%- partial("menu") %>
        <div id="main" :class="loading ? 'into-enter-from': 'into-enter-active'">
            <%- partial(type) %>
            <%- partial("footer") %>
        </div>
        <% if (theme.preview.enable) { %>
        <transition name="fade">
            <div id="preview" ref="preview" v-show="previewShow">
                <img id="preview-content" ref="previewContent" />
            </div>
        </transition>
        <% } %>
    </div>
    <script src="<%- url_for('/js/main.js') %>"></script>
    <% if (type === "post" && page.comments) { %>
    <%- partial("comment") %>
    <% } %>
    <% if (theme.pjax.enable) { %>
        <script src="<%- url_for('/js/lib/pjax.js') %>"></script>
    <% } %>
</body>
<% if (theme.canvas.enable) { %>
    <script src="https://cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
<% } %>
</html>
